#game-record {
  display: flex;
  width: 100%;
  max-width: 410px;
  min-width: 153px;
  margin: 10px auto;
  flex-wrap: wrap;
  max-height: calc(100% - 40px);
  overflow-y: scroll;
}
#game-record::-webkit-scrollbar {
  width: 10px
}
#game-record::-webkit-scrollbar-thumb {
  border-left: 2px solid #fafafa;
  background-color: #d8b79d;
  border-radius: 3px;
}

.record-cell {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b68d6e;
  transition: all 0.2s;
  border-left: 2px solid #caa98f;
}
.record-cell:hover, .record-cell:focus {
  border-left: 2px solid #b68d6e;
  color: #8b6141;
}

.record-cell:nth-child(even) {
  background-color: #caa98f;
  color: white;
}
.record-cell:nth-child(even):hover, .record-cell:nth-child(even):focus {
  background-color: #b68d6e;
  border-color: transparent;
}

.record-cell:nth-child(2) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.record-cell:last-child, .record-cell:nth-last-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}