#record-wrapper {
  border: 1px solid #d6beab;
  border-radius: 7px;
  margin: 20px auto;
  width: calc(100% - 20px);
  height: calc(67% - 33px);
}

#game-record {
  scroll-behavior: smooth;
  display: flex;
  width: calc(100% - 20px);
  padding: 0 0 0 10px;
  max-width: 410px;
  min-width: 153px;
  margin: 10px auto;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  height: calc(100% - 60px);
}
.label-wrapper {
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: (100% - 20px);
}
.label-wrapper img {
  height: 35px;
  width: 35px;
  filter: invert(79%) sepia(38%) saturate(258%) hue-rotate(343deg) brightness(85%) contrast(85%);
  transition: all 0.2s;
  flex: 0 0 35px;
}
.label-wrapper:hover img {
  filter: invert(60%) sepia(14%) saturate(923%) hue-rotate(343deg) brightness(96%) contrast(90%);
}
.label-wrapper h3 {
  flex: 0 1 150px;
  min-width: 118px;
}

.record-cell {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b68d6e;
  transition: all 0.2s;
  border-left: 2px solid #caa98f;
}
.record-cell:hover, .record-cell:focus {
  border-left: 2px solid #b68d6e;
  color: #8b6141;
}

.record-cell:nth-child(even) {
  background-color: #caa98f;
  color: white;
}
.record-cell:nth-child(even):hover, .record-cell:nth-child(even):focus {
  background-color: #c4a187;
  border-color: transparent;
}

.record-cell:nth-child(2) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.record-cell:last-child, .record-cell:nth-last-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}