#engine-settings {
  height: calc(26% - 51px);
  margin: 25px 4%;
  border: 1px solid #d6beab;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and ( max-height: 700px ) {
  #engine-settings .module-title {
    display: none;
  }
}
#engine-settings img {
  filter: brightness(0) saturate(100%) invert(78%) sepia(16%) saturate(553%) hue-rotate(344deg) brightness(87%) contrast(91%);
  transition: all 0.2s;
  min-height: 45px;
}
#engine-settings img:hover {
  filter: brightness(0) saturate(100%) invert(60%) sepia(14%) saturate(923%) hue-rotate(343deg) brightness(96%) contrast(90%);
}

.piece-value-wrapper {
  display: flex;
  justify-content: space-around;
}
.piece-value-wrapper input {
  width: 50px;
  max-width: 15%;
  height: 25px;
  border: 1px solid #d6beab;
  border-radius: 3px;
  text-align: center;
  font-family: monospace;
  color: #ad8566;
}
.piece-value-wrapper input:focus {
  border: 1px solid #ad8566;
}