#navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #fdf7f1; */
  /* border-bottom: 1px solid #dbc3b1; */
}

#navbar button {
  color: #b68d6e;
  transition: all 0.3s;
  width: 20%;
  height: 40px;
  border-left: 2px solid #caa98f;
}
#navbar button:nth-child(odd):hover, #navbar button:nth-child(odd):focus {
  border-left: 2px solid #b68d6e;
  color: #8b6141;
}
#navbar button:nth-child(even) {
  border-radius: 5px;
  background-color: #caa98f;
  color: white;
}
#navbar button:nth-child(even):hover, #navbar button:nth-child(even):focus {
  background-color: #b68d6e;
  border-color: transparent;
}