#navbar {
  height: 80px;
  width: calc(100% - 40px);
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar button {
  color: #b68d6e;
  transition: all 0.3s;
  width: 30%;
  height: 40px;
  border-left: 2px solid #caa98f;
}
#navbar > a {
  width: 30%;
}
#navbar > a > button {
  width: 100%;
  position: relative;
  top: 3px;
}

#navbar button:hover, #navbar button:focus {
  border-left: 2px solid #b68d6e;
  color: #8b6141;
}
#navbar button.dark {
  border-radius: 5px;
  background-color: #caa98f;
  color: white;
}
#navbar button.dark:hover, #navbar button.dark:focus {
  background-color: #b68d6e;
  border-color: transparent;
}