#flex-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
#chess-game-wrapper {
  flex: 2;
  padding: 10px;
}
#menu-wrapper {
  flex: 1 0 100px;
  padding: 0 5px;
  display: flex;
}

.module-title {
  text-align: center;
  margin: 15px 0;
  color: #ad8566;
  font-size: 1.17em;
}