body, html, #root {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  color: #333;
}

h1, h2, h3, h4, h5, p, button, input {
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

a {
  text-decoration: none;
}