* {
  padding: 0;
  margin: 0;
}

body, html, #root {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  color: #000;
}

h1, h2, h3, h4, h5, p, button, input, span, div {
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

a {
  text-decoration: none;
}